.navbar {
  background-color: white;
  z-index: 10;
  .navbar-icon {
    background-color: white;
    width: 40px;
    height: 40px;
  }
  .menu {
    width: 40px;
    height: 40px;
  }

  .nav-link {
    cursor: pointer;
  }
}
